@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}
.legend {
  font-weight: 300;
  font-size: 14px;
  color: var(--light-grey);
}
.values {
  font-weight: 400;
  font-size: 72px;
  color: var(--black);
}

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

.img-top {
  width: 100%;
}
.img-bottom {
  position: absolute;
  top: 78.5%;
  width: 100%;
}
main {
  width: 100vw;
  height: 100vh;
  
}
.container-principal {
  width: 596px;
  height: 175px;

  position: absolute;
  top: 187px;
  left: 123px;
}

main div h1 {
  color: var(--purple);
  font-weight: 500;
  font-size: 36px;
}
.countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 19px;
  text-align: center;
}
.secondary-container{
    width: 349px;
    height: 98px;
    position: relative;
    top: 256px;
    left: 230px;
}
main .secondary-container h3 {
    color: var(--text-color);
    font-weight:300;
    font-size: 14px;
}
.button-subscribe{
    display: flex;
    justify-content: center;
    margin-top: 31px;
}
main button {
    width: 160px;
    height: 46px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--purple);
    color: #fff;
}

